
.DS_Store
AyurvedaH/.DS_Store
kalAH/.DS_Store
kalpaH/.DS_Store
kAvyam/.DS_Store
koshaH/.DS_Store
koshaH/indic-dict/.DS_Store
koshaH/indic-dict/vyAkaraNa
mImAMsA/.DS_Store
mixed/.DS_Store
mixed/clt/.DS_Store
mixed/clt/dcs
mixed/clt/sacred_texts
mixed/dcs
mixed/sandocs-dump
mixed/sandocs-dump-markdown/.DS_Store
nyAya-shAstram/.DS_Store
purANam/.DS_Store
purANam/mahAbhAratam/.DS_Store
shixA/.DS_Store
veda/.DS_Store
.DS_Store
